Package: com.pigigaldi.lptheos
Name: LPTheos
Depends: mobilesubstrate, com.dba-tech.lockpages
Version: 0.0.1
Architecture: iphoneos-arm
Description: LockPages add-on!
Maintainer: Pigi Galdi
Author: Pigi Galdi
Section: Tweaks
